/* .sc-aXZVg{
    min-width: 0px;
  } */
.guZdik {
  position:  relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 48px;
  border: 2px dashed rgb(6, 88, 194);
  padding: 8px 16px 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-flex: 0;
  flex-grow: 0;
}
.dtlKip {
  position:  relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 48px;
  border: 2px dashed rgb(6, 88, 194);
  padding: 8px 16px 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-flex: 0;
  flex-grow: 0;
}
.someClass {
  position:  relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 48px;
  border: 2px dashed rgb(6, 88, 194);
  padding: 8px 16px 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-flex: 0;
  flex-grow: 0;
}

